:root {
    --main-color: #F56600;
    --second-color: #522D80;
    --third-color:#FFFFFF;
    --background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    color: var(--main-color);
    justify-content: space-between;
    background-color: var(--background-color);
}

header h1 {
    max-width: 20%;
    padding-left: 50px;
    justify-content: left;
    font-size: 250%;
}

header nav ul li a{
    margin: auto 30px auto 0px;
    color: var(--third-color);
    font-size: 150%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    margin-top: 30px;
    justify-content: space-evenly;
}

body{
    background-color: var(--background-color);
    color: var(--main-color);
}

section {
    margin-top: 50px;
}

.About-Me {
    display: flex;
}

.About-Me h2 {
    min-width: 20%;
    text-align: center;
    font-size: 200%;
    margin: auto;
}
.AM-Content {
    border: var(--third-color) solid 5px;
    border-radius: 25px;
    display: flex;
    background-color: var(--second-color);
    margin-right: 20px;
}

.About-Me p {
    margin: 10px 10px;
    text-align: left;
    font-size: 125%;
}

.About-Me img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 25px;
    margin: auto 0;
}

.Hobbies {
    display: flex;
}

.Hobbies h2 {
    min-width: 20%;
    text-align: center;
    font-size: 200%;
    margin: auto;
}
.HobbyContent {
    min-width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hobbycard {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    border: var(--third-color) solid 5px;
    border-radius: 25px;
    background-color: var(--second-color);
}

.hobbycard img {
    display: flex;
    width: 400px;
    height: 200px;
    border-top: var(--third-color) solid 5px;
    border-bottom: var(--third-color) solid 5px;
    
}

.hobbycard h3 {
    text-align: center;
    font-size: 150%;    
}

.hobbycard p {
    font-size: 125%;
    margin: 10px 10px;
    }

.hobbycard p a {
    color: var(--third-color);
}

.projects {
    display: flex;
}

.projects h2 {
    min-width: 20%;
    text-align: center;
    font-size: 200%;
    margin: auto;
}

.ProjectContent {
    min-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.runbuddy {
    background-image: url(../images/RunningBuddy.png);
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border: var(--third-color) solid 5px;
    border-radius: 25px;
    margin: 10px 10px;
}

.runbuddy h3 {
    margin-top: 100px;
    text-align: center;
    font-size: 150%;
    background-color: var(--second-color);   
}

.runbuddy p {
    font-size: 125%;
    margin: auto 0;
    background-color: var(--second-color);
    text-align: center;
    }

.runbuddy p a {
        color: var(--third-color);
    }

.placeholder {
    background-image: url(../images/image\ placeholder.jpg);
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border: var(--third-color) solid 5px;
    border-radius: 25px;
    margin: 10px 10px;
    }
    
.placeholder h3 {
    margin-top: 100px;
    text-align: center;
    font-size: 150%;
    background-color: var(--second-color);   
    }
    
.placeholder p {
    font-size: 125%;
    margin: auto 0;
    background-color: var(--second-color);
    text-align: center;
    }
    
.placeholder p a {
        color: var(--third-color);
    }

.Contact {
    display: flex;
    margin-right: 20px;
    }
    
.Contact h2 {
    min-width: 20%;
    text-align: center;
    font-size: 200%;
    margin: auto;
    }

.ContactContent {
    min-width: 80%;
    border: var(--third-color) solid 5px;
    border-radius: 25px;
    display: flex;
    background-color: var(--second-color);
    justify-content: space-between;
    flex-wrap: wrap;
    }

.ContactContent p {
    font-size: 125%;
    margin: 20px auto;
    background-color: var(--second-color);
    text-align: center;
}

.ContactContent p a {
    color: var(--third-color);
}

footer {
    text-align: center;
    margin-top: 20px;
    border-top: var(--third-color) solid 3px;
}

@media (max-width: 768px) {
    .Hobbies {
        display: block;
    }
    .HobbyContent {
        justify-content: center;
    }
    .About-Me {
        display: block;
    }
    .Contact {
        display: block;
        }
    .projects {
        display: block;
    }
    .ProjectContent {
        justify-content: center;
    }
}